.products {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media(max-width:768px) {
    .products {
        padding-top: 100px;
        grid-template-columns: repeat(1, 1fr);
    }
}